* text=auto eol=lf
*.ps1 text eol=crlf
*.iss text eol=crlf
*.isl text eol=crlf
*.png binary
*.ico binary
# Preserve upstream formatting in vendored translations and license texts.
installer/ChineseSimplified.isl whitespace=-blank-at-eol
installer/licenses/*.txt whitespace=-blank-at-eol
